metadata:
  resource:
    group: kubedb.com
    kind: Elasticsearch
    name: elasticsearches
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          # Elasticsearch Heap Usage Too High
          elasticsearchHeapUsageTooHigh:
            enabled: false
            # The heap usage is over 90%
            val: 90
            duration: "2m"
            severity: critical

          # Elasticsearch Heap Usage warning
          elasticsearchHeapUsageWarning:
            enabled: true
            # The heap usage is over 80%
            val: 80
            duration: "2m"
            severity: warning

          # Elasticsearch disk out of space
          elasticsearchDiskOutOfSpace:
            enabled: false
            # The disk usage is over 90%. Value range: 0-100.
            val: 90
            duration: "0m"
            severity: critical

          # Elasticsearch disk space low
          elasticsearchDiskSpaceLow:
            enabled: false
            # The disk usage is over 80%. Value range: 0-100.
            val: 80
            duration: "2m"
            severity: warning

          # Elastic Cluster Red status
          elasticsearchClusterRed:
            enabled: false
            duration: "0m"
            severity: critical

          # Elastic Cluster Yellow status
          elasticsearchClusterYellow:
            enabled: true
            duration: "0m"
            severity: warning

          # Minimum healthy nodes in Elasticsearch cluster
          elasticsearchHealthyNodes:
            enabled: true
            # should have at least 3 healthy nodes
            val: 3
            duration: "0m"
            severity: critical

          # Minimum healthy data nodes in Elasticsearch cluster
          elasticsearchHealthyDataNodes:
            enabled: true
            # should have at least 3 healthy data nodes
            val: 3
            duration: "0m"
            severity: critical

          # Elasticsearch relocating shards
          elasticsearchRelocatingShards:
            enabled: true
            duration: "0m"
            severity: info

          # Elasticsearch is initializing shards
          elasticsearchInitializingShards:
            enabled: true
            duration: "0m"
            severity: info

          # Elasticsearch has unassigned shards
          elasticsearchUnassignedShards:
            enabled: true
            duration: "0m"
            severity: critical

          # Elasticsearch has pending tasks. Cluster works slowly.
          elasticsearchPendingTasks:
            enabled: false
            duration: "15m"
            severity: warning

          # No new documents for 10 min!
          elasticsearchNoNewDocuments10m:
            enabled: false
            duration: "0m"
            severity: info
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning
      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
      stash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
