metadata:
  resource:
    group: kubedb.com
    kind: Cassandra
    name: cassandras
    scope: Namespaced
    version: v1
  release:
    name: ""
    namespace: ""

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    groups:
      database:
        enabled: warning
        rules:
          # Specifies the alert configuration for database is in NotReady phase, that means the database is not accepting connections, read/write are hampered.
          cassandraDown:
            enabled: true
            duration: "0m"
            severity: critical
            val: 1
          # Specifies the alert configuration for recently respawned(restarted).
          cassandraServiceRespawn:
            enabled: true
            duration: "0m"
            val: 180
            severity: critical
          cassandraConnectionTimeouts:
            enabled: true
            duration: "0m"
            val: 100
            severity: warning
          cassandraDroppedMessages:
            enabled: true
            duration: "0m"
            severity: warning
            val: 1
          cassandraHighReadLatency:
            enabled: true
            duration: "0m"
            severity: warning
            val: 7000
          cassandraHighWriteLatency:
            enabled: true
            duration: "0m"
            val: 7000
            severity: warning
          # High memory usage
          cassandraMemoryLimit:
            enabled: true
            duration: "0m"
            val: 33554432  # 32MB
            severity: critical
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "5m"
            severity: warning


grafana:
  enabled: false
  version: 7.5.5
  jobName: kubedb-databases
  url: ""
  apikey: ""
