metadata:
  resource:
    group: kubedb.com
    kind: Singlestore
    name: singlestores
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          # Specifies the alert configuration for database is in NotReady phase, that means the database is not accepting connections, read/write are hampered.
          singlestoreInstanceDown:
            enabled: true
            duration: "0m"
            severity: critical
          # Specifies the alert configuration for service is down.
          singlestoreServiceDown:
            enabled: true
            duration: "0m"
            severity: critical
          # Specifies the alert configuration for too many connections.
          singlestoreTooManyConnections:
            enabled: true
            duration: "2m"
            val: 80
            severity: warning
          # Specifies the alert configuration for high thread running.
          singlestoreHighThreadsRunning:
            enabled: true
            duration: "2m"
            val: 60
            severity: warning
          # Specifies the alert configuration for one or more pod are restarted.
          singlestoreRestarted:
            enabled: true
            duration: "0m"
            val: 60
            severity: warning
          # Specifies the alert configuration for high query.
          singlestoreHighQPS:
            enabled: true
            duration: "0m"
            val: 1000
            severity: critical
          # Specifies the alert configuration for high incoming bytes.
          singlestoreHighIncomingBytes:
            enabled: true
            duration: "0m"
            val: 1048576 # 1MB
            severity: critical
          # Specifies the alert configuration for high outgoing bytes.
          singlestoreHighOutgoingBytes:
            enabled: true
            duration: "0m"
            val: 1048576 # 1MB
            severity: critical
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning
      kubeStash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning


grafana:
  enabled: false
  version: 8.2.3
  jobName: kubedb-databases
  url: ""
  apikey: ""
