metadata:
  resource:
    group: kubedb.com
    kind: Qdrant
    name: qdrants
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""
form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: prometheus

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          # Specifies the alert configuration for database is in NotReady phase, that means the database is not accepting connections, read/write are hampered.
          qdrantInstanceDown:
            enabled: true
            duration: "30s"
            severity: critical
          # Specifies the alert configuration for database is in Critical phase, that means one or more database nodes are experiencing issues but the database is still operational.
          qdrantPhaseCritical:
            enabled: true
            duration: "1m"
            severity: warning
          # Specifies the alert configuration for database service restarts, indicating the database service has been restarted recently.
          qdrantRestarted:
            enabled: true
            duration: "1m"
            severity: warning
            val: 180
          # Specifies the alert configuration for database cpu usage (ratio usage/limits).
          qdrantHighCPUUsage:
            enabled: true
            duration: "1m"
            severity: warning
            val: 80
          # Specifies the alert configuration for database memory usage (ratio working_set/limits).
          qdrantHighMemoryUsage:
            enabled: true
            duration: "1m"
            severity: warning
            val: 80
          # Specifies the alert configuration for persistent volume usage, indicating when storage usage exceeds the defined threshold.
          diskUsageHigh:
            enabled: true
            val: 80
            duration: "1m"
            severity: warning
          diskAlmostFull:
            enabled: true
            val: 95
            duration: "1m"
            severity: critical

# Specifies the alert configuration for pending operations backlog, indicating when the number of pending operations exceeds the threshold.
          qdrantHighPendingOperations:
            enabled: true
            val: 10
            duration: "5m"
            severity: critical

# Specifies the alert configuration for gRPC response failures, indicating when the number of failed gRPC responses exceeds the threshold.
          qdrantGrpcResponsesFailHigh:
            enabled: true
            val: 5
            duration: "5m"
            severity: critical

# Specifies the alert configuration for REST response failures, indicating when the number of failed REST responses exceeds the threshold.
          qdrantRestResponsesFailHigh:
            enabled: true
            val: 5
            duration: "5m"
            severity: critical

      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning

grafana:
  enabled: true
  version: 7.5.5
  jobName: kubedb-databases
  url: "http://prometheus-grafana.monitoring.svc.cluster.local"
  user: "admin"
  password: "cNbFOgGgmFkzpFme9heVHd4UuOLlDlIL2fERuXSz"