metadata:
  resource:
    group: kubedb.com
    kind: PerconaXtraDB
    name: perconaxtradbs
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          mysqlInstanceDown:
            enabled: true
            duration: "0m"
            severity: critical
          mysqlServiceDown:
            enabled: true
            duration: "0m"
            severity: critical
          mysqlTooManyConnections:
            enabled: true
            duration: "2m"
            val: 80
            severity: warning
          mysqlHighThreadsRunning:
            enabled: true
            duration: "2m"
            val: 60
            severity: warning
          mysqlSlowQueries:
            enabled: true
            duration: "2m"
            severity: warning
          mysqlInnoDBLogWaits:
            enabled: true
            duration: "0m"
            val: 10
            severity: warning
          mysqlRestarted:
            enabled: true
            duration: "0m"
            val: 60
            severity: warning
          mysqlHighQPS:
            enabled: true
            duration: "0m"
            val: 1000
            severity: critical
          mysqlHighIncomingBytes:
            enabled: true
            duration: "0m"
            val: 1048576 # 1MB
            severity: critical
          mysqlHighOutgoingBytes:
            enabled: true
            duration: "0m"
            val: 1048576 # 1MB
            severity: critical
          mysqlTooManyOpenFiles:
            enabled: true
            duration: "2m"
            val: 80
            severity: warning
          # Sepcifies the alert configuration for persistent volume usages.
          diskUsageHigh:
            enabled: true
            val: 80
            duration: "1m"
            severity: warning
          diskAlmostFull:
            enabled: true
            val: 95
            duration: "1m"
            severity: critical
      cluster:
        enabled: warning
        rules:
          galeraReplicationLatencyTooLong:
            enabled: true
            val: 0.1
            duration: "5m"
            severity: warning
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning
      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
      stash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
      schemaManager:
        enabled: warning
        rules:
          schemaPendingForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaInProgressForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaTerminatingForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaFailed:
            enabled: true
            duration: "0m"
            severity: warning
          schemaExpired:
            enabled: true
            duration: "0m"
            severity: warning
