{{- if .Values.grafana.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "neo4j-alerts.fullname" . }}-post-job
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "neo4j-alerts.labels" . | nindent 4 }}
spec:
  template:
    spec:
      volumes:
        - name: grafana-json-volume
          configMap:
            name: {{ include "neo4j-alerts.fullname" . }}-configmap
      containers:
          - name: post-json-container
            image: curlimages/curl:latest
            command: ["curl"]
            args:
              - "-X"
              - "POST"
              - "-H"
              - "Content-Type: application/json"
              - "-H"
              - "Authorization: Bearer {{ .Values.grafana.apikey }}"
              - "--data-binary"
              - "@/etc/grafana-json/grafana-json.json"
              - {{ .Values.grafana.url }}/api/dashboards/import
            volumeMounts:
              - mountPath: /etc/grafana-json
                name: grafana-json-volume
                readOnly: true
      restartPolicy: Never
  backoffLimit: 2
  ttlSecondsAfterFinished: 3600
  {{- end }}