{{ $app := (include "qdrant-alerts.fullname" .) }}

  {{ if (include "qdrant-alerts.alertsEnabled" .Values.form.alert.enabled) }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ $app }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "qdrant-alerts.labels" . | nindent 4 }}
  {{- if .Values.form.alert.labels }}
  {{- toYaml .Values.form.alert.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.form.alert.annotations }}
annotations:
  {{- toYaml .Values.form.alert.annotations | nindent 4 }}
  {{- end }}
spec:
  groups:
  {{ with .Values.form.alert.groups.database -}}
  {{ if (include "qdrant-alerts.alertGroupEnabled" (list $.Values.form.alert.enabled .)) -}}
  - name: qdrant.database.{{ $.Release.Namespace }}.{{ $app }}.rules
    rules:
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantDown.enabled .rules.qdrantDown.severity)) -}}
    - alert: QdrantDown
      expr: kubedb_com_qdrant_status_phase{app="{{ $app }}", namespace="{{ $.Release.Namespace }}",phase="NotReady"} >= 1
      for: {{ .rules.qdrantDown.duration }}
      labels:
        severity: {{ .rules.qdrantDown.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant database is in NotReady state (instance {{`{{`}} $labels.instance {{`}}`}})
        description: "Database in NotReady state, database read/write is failing.\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantPhaseCritical.enabled .rules.qdrantPhaseCritical.severity)) -}}
    - alert: QdrantPhaseCritical
      expr: kubedb_com_qdrant_status_phase{app="{{ $app }}", namespace="{{ $.Release.Namespace }}",phase="Critical"} >= 1
      for: {{ .rules.qdrantPhaseCritical.duration }}
      labels:
        severity: {{ .rules.qdrantPhaseCritical.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant database is in Critical state (instance {{`{{`}} $labels.instance {{`}}`}})
        description: "Database in Critical state, one or more database nodes are not working properly.\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantRestarted.enabled .rules.qdrantRestarted.severity)) -}}
    - alert: QdrantRestarted
      expr: (time() - min(kube_pod_start_time{ namespace="{{ $.Release.Namespace }}", pod=~"{{ $app }}-.*"})) < {{.rules.qdrantRestarted.val}}
      for: {{ .rules.qdrantRestarted.duration }}
      labels:
        severity: {{ .rules.qdrantRestarted.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant service restart (instance {{`{{`}} $labels.pod {{`}}`}})
        description: "Qdrant service restart on {{`{{`}} $labels.pod {{`}}`}}\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantHighCPUUsage.enabled .rules.qdrantHighCPUUsage.severity)) -}}
    - alert: QdrantHighCPUUsage
      expr: |
        (
          sum by (pod) (
            irate(container_cpu_usage_seconds_total{
              image!="",
              job="kubelet",
              metrics_path="/metrics/cadvisor",
              namespace="{{ $.Release.Namespace }}",
              pod=~"^{{ $app }}.*"
            }[5m])
          )
        )
        /
        sum by (pod) (
          kube_pod_container_resource_requests{
            namespace="{{ $.Release.Namespace }}",
            pod=~"^{{ $app }}.*",
            resource="cpu"
          }
        ) * 100
        > {{ .rules.qdrantHighCPUUsage.val }}
      for: {{ .rules.qdrantHighCPUUsage.duration }}
      labels:
        severity: {{ .rules.qdrantHighCPUUsage.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant Pod CPU usage high (pod {{`{{`}} $labels.pod {{`}}`}})
        description: "Qdrant pod CPU usage is above {{ .rules.qdrantHighCPUUsage.val }} percent.\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantHighMemoryUsage.enabled .rules.qdrantHighMemoryUsage.severity)) -}}
    - alert: QdrantHighMemoryUsage
      expr: |
        (
          sum by (pod) (
            container_memory_working_set_bytes{
              namespace="{{ $.Release.Namespace }}",
              pod=~"^{{ $app }}.*",
              container!="",
              image!=""
            }
          )
        )
        /
        sum by (pod) (
          kube_pod_container_resource_limits{
            namespace="{{ $.Release.Namespace }}",
            pod=~"^{{ $app }}.*",
            resource="memory"
          }
        ) * 100
        > {{ .rules.qdrantHighMemoryUsage.val }}
      for: {{ .rules.qdrantHighMemoryUsage.duration }}
      labels:
        severity: {{ .rules.qdrantHighMemoryUsage.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant Pod Memory usage high (pod {{`{{`}} $labels.pod {{`}}`}})
        description: "Qdrant pod memory usage is above {{ .rules.qdrantHighMemoryUsage.val }} percent.\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}

    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantHighPendingOperations.enabled .rules.qdrantHighPendingOperations.severity)) -}}
    - alert: QdrantHighPendingOperations
      expr: |
        sum by (pod) (
          cluster_pending_operations_total{
            job=~"{{ $app }}-stats",
            namespace="{{ $.Release.Namespace }}",
            pod=~"^{{ $app }}.*"
          }
        ) > {{ .rules.qdrantHighPendingOperations.val }}
      for: {{ .rules.qdrantHighPendingOperations.duration }}
      labels:
        severity: {{ .rules.qdrantHighPendingOperations.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant pending operations high on pod {{`{{`}} $labels.pod {{`}}`}}
        description: |
          Qdrant pod has too many pending operations.
          VALUE = {{`{{`}} $value {{`}}`}}
          LABELS = {{`{{`}} $labels {{`}}`}}
    {{- end }}

    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.qdrantGrpcResponsesFailHigh.enabled .rules.qdrantGrpcResponsesFailHigh.severity)) -}}
    - alert: QdrantGrpcResponsesFailHigh
      expr: |
        sum by (pod) (
          increase(
            grpc_responses_fail_total{
              job=~"{{ $app }}-stats",
              namespace="{{ $.Release.Namespace }}",
              pod=~"^{{ $app }}.*"
            }[5m]
          )
        ) > {{ .rules.qdrantGrpcResponsesFailHigh.val }}
      for: {{ .rules.qdrantGrpcResponsesFailHigh.duration }}
      labels:
        severity: {{ .rules.qdrantGrpcResponsesFailHigh.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Qdrant gRPC fails high on pod {{`{{`}} $labels.pod {{`}}`}}
        description: |
          The number of failed gRPC responses for this pod in the last 5m exceeds threshold.
          VALUE = {{`{{`}} $value {{`}}`}}
          LABELS = {{`{{`}} $labels {{`}}`}}
    {{- end }}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.diskUsageHigh.enabled .rules.diskUsageHigh.severity)) -}}
    - alert: DiskUsageHigh
      expr: (kubelet_volume_stats_used_bytes{service="kubernetes"} / on(persistentvolumeclaim) group_left(pod) ((kubelet_volume_stats_used_bytes{service="kubernetes"} + on(persistentvolumeclaim) group_left(pod) kube_pod_spec_volumes_persistentvolumeclaims_info{pod=~"{{ $.Release.Name }}-.+$",namespace=~"{{ $.Release.Namespace }}"}) ) )
        * 100 > {{ .rules.diskUsageHigh.val }}
      for: {{ .rules.diskUsageHigh.duration }}
      labels:
        severity: {{ .rules.diskUsageHigh.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Persistent Volume Usages in instance {{`{{`}} $labels.instance {{`}}`}}
        description: "Persistent Volume Usages\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.diskAlmostFull.enabled .rules.diskAlmostFull.severity)) -}}
    - alert: DiskAlmostFull
      expr: (kubelet_volume_stats_used_bytes{service="kubernetes"} / on(persistentvolumeclaim) group_left(pod) ((kubelet_volume_stats_used_bytes{service="kubernetes"} + on(persistentvolumeclaim) group_left(pod) kube_pod_spec_volumes_persistentvolumeclaims_info{pod=~"{{ $.Release.Name }}-.+$",namespace=~"{{ $.Release.Namespace }}"}) ) )
        * 100 > {{ .rules.diskAlmostFull.val }}
      for: {{ .rules.diskAlmostFull.duration }}
      labels:
        severity: {{ .rules.diskAlmostFull.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: Persistent Volume Usages in instance {{`{{`}} $labels.instance {{`}}`}}
        description: "Persistent Volume Usages\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
  {{end -}}
  {{end -}}


  {{ with .Values.form.alert.groups.provisioner -}}
  {{ if (include "qdrant-alerts.alertGroupEnabled" (list $.Values.form.alert.enabled .)) -}}
  - name: qdrant.provisioner.{{ $.Release.Namespace }}.{{ $app }}.rules
    rules:
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.appPhaseNotReady.enabled .rules.appPhaseNotReady.severity)) -}}
    - alert: KubeDBQdrantPhaseNotReady
      expr: kubedb_com_qdrant_status_phase{phase="NotReady",app="{{ $app }}",namespace="{{ $.Release.Namespace }}"} == 1
      for: {{ .rules.appPhaseNotReady.duration }}
      labels:
        severity: {{ .rules.appPhaseNotReady.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: KubeDB Qdrant Phase NotReady (qdrant {{`{{`}} $labels.qdrant {{`}}`}})
        description: "KubeDB Qdrant Phase not ready on {{`{{`}} $labels.qdrant {{`}}`}}\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{ end -}}
    {{ if (include "qdrant-alerts.alertEnabled" (list $.Values.form.alert.enabled .enabled .rules.appPhaseCritical.enabled .rules.appPhaseCritical.severity)) -}}
    - alert: KubeDBQdrantPhaseCritical
      expr: kubedb_com_qdrant_status_phase{phase="Critical",app="{{ $app }}",namespace="{{ $.Release.Namespace }}"} == 1
      for: {{ .rules.appPhaseCritical.duration }}
      labels:
        severity: {{ .rules.appPhaseCritical.severity }}
        {{- include "qdrant-alerts.alertLabels" $ | nindent 8 }}
      annotations:
        summary: KubeDB Qdrant Phase Critical (qdrant {{`{{`}} $labels.qdrant {{`}}`}})
        description: "KubeDB Qdrant Phase Critical {{`{{`}} $labels.qdrant {{`}}`}}\n  VALUE = {{`{{`}} $value {{`}}`}}\n  LABELS = {{`{{`}} $labels {{`}}`}}"
    {{- end }}
  {{ end -}}
  {{ end -}}

  {{ end }}
